/* fakecss:/Users/adam/Documents/Obsidian Vault/.obsidian/plugins/obsidian-week-planner-alt/src/ui/edit-todo.esbuild-svelte-fake-css */
.modal-container.svelte-rp2d72.svelte-rp2d72 {
  position: relative;
}
.suggestions.svelte-rp2d72.svelte-rp2d72 {
  position: absolute;
  top: 2.5em;
  left: 0;
  right: 0;
  max-height: 10em;
  overflow-y: auto;
  background: var(--background-primary);
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
  z-index: 1000;
  padding: 0;
  margin: 0;
  list-style: none;
}
.suggestions.svelte-rp2d72 li.svelte-rp2d72 {
  padding: 0.5em;
  cursor: pointer;
}
.suggestions.svelte-rp2d72 li.active.svelte-rp2d72,
.suggestions.svelte-rp2d72 li.svelte-rp2d72:hover {
  background: var(--background-modifier-hover);
}
