/* fakecss:/Users/adam/Documents/Obsidian Vault/.obsidian/plugins/obsidian-week-planner-alt/src/ui/edit-todo.esbuild-svelte-fake-css */
@keyframes svelte-febsyy-shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
